/* Configurações Gerais */
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: black;
}
main{
    color: white;
}

section{
    margin: 60px 0px 60px 50px;
}
section a{
    padding: 20px;
    text-decoration: none;
    color: black;
    
    background-color: white;
    border-radius: 15px;
}

/* Adicionando fontes */
@import url('https;//fonts.googleopis.com/css2/family=Poppins&display=swap');



/* Configurando a barra de navegação*/
nav{
    background-color: rgb(27, 93, 235);
    text-align: right;
    top: 0;   
    position: sticky;
}
.menu a{
    color: black;

    text-decoration: none;
    font-style: bold;
    font-size: 1.3em;

    padding: 10px;
    margin-right: 10px;
}
.menu a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(236, 75, 0);
}

/*  Configurando seção de Apresentação */
.apresentacao section{
    background-color: yellow;
}
.apresentacao{
    display: block;
    background-color: red;
    margin: 100px auto auto 50px;
    color: white;
}
.apresentacao h1{
    font-size: 5rem;
    letter-spacing: 2px;
}
.apresentacao h4{
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.apresentacao p{
    background-color: blue;
    width: 363px;
    margin: 5px 0px 0px 0px ;
    font-size: 2rem;
    
    color: rgb(155, 0, 147);

    animation: typing 2s steps(24), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid white;
}
/* Animação */
@keyframes typing{
    from{
        width: 0;
    }
}
@keyframes blink {
    50%{
        border-color: transparent;
    }
}

/* Configurando a seção de conhecimentos - Ajustar tamanho de imagens no GIMP/Photoshop/Canva  */ 
section.conhecimento img{
    width: 200px;
    height: 200px;
}

footer{
    background-color: aqua;
}